#header {
    margin-top: 2em;
    padding: 2em 0;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#workExperience {
    padding-top: 1em;
    border-bottom: 1px solid gray;
}

#contacts {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

#contactslist {
    padding-bottom: 1.5em;
}

#name {
    display: inline;
}

#role {
    color: #4c4c79;
    padding: 10px 1em;
}

#contacts::after {
    position: absolute;
    left: 25%;
    width: 50%;
    border-top: 1px solid gray;
}

#skillshead {
    font-size: 2.5rem;
}

#projects {
    padding-top: 1em;
}

.project-entry {
    padding-bottom: 2em;
}

#map {
    height: 500px;
}

#education {
    padding-top: 1em;
    padding-bottom: 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.education-entry {
    margin-bottom: 2em;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.flex-container > .flex-item {
    -webkit-flex: auto;
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

.intro {
    padding-right: 0.5em;
}

.greeting {
    font-size: 2rem;
}

.biopic {
    max-width: 20%;
}

#skillshead {
    color;
}

#skills-h3 {
    padding: 0;
    display: inline;
}

#mapDiv {
    padding-bottom: 3em;
}

#lets-connect {
    text-align: center;
    border-top: 1px solid gray;
    padding-top: 0.5em;
    padding-bottom: 3em;
}

.work-description {
    padding-bottom: 2em;
}

img {
    max-width: 25%;
    max-height: 500px;
}

@media only screen and (max-width: 1000px) {
    .greeting {
        display: none;
    };
}

@media only screen and (max-width: 630px) {
    .biopic {
        display: none;
    };
}